# Application configuration
APP_NAME=
APP_DESCRIPTION=
NODE_ENV=
PORT=
API_PREFIX=api/v1
APP_SWAGGER_PATH=docs

# Database configuration
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNCHRONIZE=
DB_MAX_CONNECTIONS=
DB_SSL_ENABLED=
DB_REJECT_UNAUTHORIZED=
DB_CA=
DB_KEY=
DB_CERT=
DB_URL=

# Encryption configuration
CRYPTO_SALT_ROUNDS=12

# JWT settings
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
JWT_COOKIE_AUTH_NAME=Authentication
JWT_REFRESH_COOKIE_NAME=Refresh