# Application configuration
APP_NAME=
APP_DESCRIPTION=
NODE_ENV=
PORT=
API_PREFIX=

# Database configuration
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_SYNCHRONIZE=
DB_MAX_CONNECTIONS=
DB_SSL_ENABLED=
DB_REJECT_UNAUTHORIZED=
DB_CA
DB_KEY
DB_CERT
DB_URL